function Board.new 2
    push constant 5
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push argument 2
    pop this 2
    push constant 0
    pop this 3
    push this 2
    call Array.new 1
    pop this 4
label Board_0
    push local 0
    push this 2
    lt
    not
    if-goto Board_1
    push local 0
    push this 4
    add
    push constant 10
    call Init.newArray 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_0
label Board_1
    call Grid.drawOutline 0
    pop temp 0
    push pointer 0
    return
function Board.dispose 2
    push argument 0
    pop pointer 0
label Board_2
    push local 0
    push this 2
    lt
    not
    if-goto Board_3
    push local 0
    push this 4
    add
    pop pointer 1
    push that 0
    pop local 1
    push local 1
    call Array.dispose 1
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_2
label Board_3
    push this 4
    call Array.dispose 1
    pop temp 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Board.isFull 1
    push argument 0
    pop pointer 0
    push argument 1
    push constant 0
    lt
    push argument 1
    push constant 9
    gt
    or
    not
    if-goto Board_5
    push constant 1
    neg
    return
    goto Board_4
label Board_5
label Board_4
    push argument 2
    push constant 0
    lt
    push argument 2
    push this 2
    push constant 1
    sub
    gt
    or
    not
    if-goto Board_7
    push constant 1
    neg
    return
    goto Board_6
label Board_7
label Board_6
    push argument 2
    push this 4
    add
    pop pointer 1
    push that 0
    pop local 0
    push argument 1
    push local 0
    add
    pop pointer 1
    push that 0
    return
function Board.setFill 0
    push argument 0
    pop pointer 0
    push argument 1
    pop this 3
    push constant 0
    return
function Board.fill 1
    push argument 0
    pop pointer 0
    push argument 2
    push this 2
    push constant 1
    sub
    gt
    not
    if-goto Board_9
    push constant 0
    return
    goto Board_8
label Board_9
label Board_8
    push argument 2
    push this 4
    add
    pop pointer 1
    push that 0
    pop local 0
    push argument 1
    push local 0
    add
    push this 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push pointer 0
    push argument 1
    push argument 2
    push this 3
    call Board.drawTile 4
    pop temp 0
    push constant 0
    return
function Board.drawTile 2
    push argument 0
    pop pointer 0
    push this 0
    push constant 12
    push argument 1
    call Math.multiply 2
    add
    pop local 0
    push this 1
    push constant 12
    push this 2
    push argument 2
    push constant 1
    add
    sub
    call Math.multiply 2
    add
    pop local 1
    push local 0
    push local 1
    push argument 1
    push constant 3
    and
    push argument 3
    call Grid.drawTile 4
    pop temp 0
    push constant 0
    return
function Board.clearFullLines 5
    push argument 0
    pop pointer 0
label Board_10
    push local 1
    push this 2
    lt
    not
    if-goto Board_11
    push local 1
    push this 4
    add
    pop pointer 1
    push that 0
    pop local 4
    push constant 1
    neg
    pop local 3
    push constant 0
    pop local 2
label Board_12
    push local 2
    push constant 10
    lt
    not
    if-goto Board_13
    push local 2
    push local 4
    add
    pop pointer 1
    push that 0
    not
    not
    if-goto Board_15
    push constant 0
    pop local 3
    goto Board_14
label Board_15
label Board_14
    push local 2
    push constant 1
    add
    pop local 2
    goto Board_12
label Board_13
    push local 3
    not
    if-goto Board_17
    push local 0
    push constant 1
    add
    pop local 0
    push pointer 0
    push local 1
    push constant 1
    add
    call Board.shiftLines 2
    pop temp 0
    goto Board_16
label Board_17
    push local 1
    push constant 1
    add
    pop local 1
label Board_16
    goto Board_10
label Board_11
    push local 0
    return
function Board.shiftLines 3
    push argument 0
    pop pointer 0
label Board_18
    push argument 1
    push this 2
    lt
    not
    if-goto Board_19
    push argument 1
    push this 4
    add
    pop pointer 1
    push that 0
    pop local 1
    push argument 1
    push constant 1
    sub
    push this 4
    add
    pop pointer 1
    push that 0
    pop local 2
    push constant 0
    pop local 0
label Board_20
    push local 0
    push constant 10
    lt
    not
    if-goto Board_21
    push local 0
    push local 2
    add
    push local 0
    push local 1
    add
    pop pointer 1
    push that 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push local 1
    add
    push constant 0
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push pointer 0
    push local 0
    push argument 1
    push constant 1
    sub
    push local 0
    push local 2
    add
    pop pointer 1
    push that 0
    call Board.drawTile 4
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_20
label Board_21
    push argument 1
    push constant 1
    add
    pop argument 1
    goto Board_18
label Board_19
    push constant 0
    pop local 0
    push argument 1
    push constant 1
    sub
    pop argument 1
label Board_22
    push local 0
    push constant 10
    lt
    not
    if-goto Board_23
    push pointer 0
    push local 0
    push argument 1
    push constant 0
    call Board.drawTile 4
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_22
label Board_23
    push constant 0
    return
function Board.clearLine 1
    push argument 0
    pop pointer 0
label Board_24
    push local 0
    push constant 10
    lt
    not
    if-goto Board_25
    push pointer 0
    push local 0
    push argument 1
    push constant 0
    call Board.drawTile 4
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Board_24
label Board_25
    push constant 0
    return